@charset "UTF-8";

img {
	margin-top: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	margin: 0 auto;
	align-items: center;
	margin-bottom: 10px;
}

.container .title-wrap {
	width: 100%;
	line-height: 60px;
	padding-top: 150px;
	text-align: center;
}

.container .title-wrap .title {
	display: inline-block;
	height: 100%;
	font-size: 36px;
	text-align: center;
	padding: 0 8px;
	position: relative;
	font-family: 'IM_Hyemin-Regular';
}

.container .title-wrap .title:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 14px;
	bottom: 7px;
	left: 0;
	z-index: -1;
	background: #F9F5EB;
}

.container>.content-wrapper {
	padding: 15px 80px 45px;
}

.content {
	height: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'IM_Hyemin-Regular';
}

.content h4 {
	font-size: 18px;
}

.list {
	height: 70%;
	margin-top: 50px;
}

.info-list {
	width: 100%;
	padding: 0 150px;
}

.info-list li {
	width: 100px;
	height: 100px;
	text-align: center;
	position: relative;
	float: left;
}

.info-list li:nth-child(odd) {
	margin-left: 7px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-list li>a {
	position: absolute;
	bottom: 5px;
	left: 0;
	color: #000;
	width: 100%;
	font-size: 18px;
}

.info-list li>a:before {
	position: absolute;
	content: '';
	height: 14px;
	width: 0;
	bottom: 3px;
	left: 50%;
	background: #EDE6DB;
	z-index: -10;
	transition: 0.7s;
}

.info-list li>a.on:before {
	position: absolute;
	content: '';
	height: 14px;
	width: 70%;
	bottom: 3px;
	left: 36px;
	background: #EDE6DB;
	z-index: -10;
}