@charset "UTF-8";

.container {
	flex-wrap: wrap;
	width: 700px;
	margin: 0 auto;
	align-items: center;
    margin-top: 100px;
}

.container>.content-wrapper {
	padding: 15px 80px 45px;
}

.content {
	height: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'IM_Hyemin-Regular';
}

.content h4 {
	font-size: 18px;
}

.list {
	height: 70%;
	margin-top: 50px;
}

.info-list {
	width: 100%;
	padding: 0 150px;
}

.info-list li {
	width: 100px;
	height: 100px;
	text-align: center;
	position: relative;
	float: left;
}

.info-list li:nth-child(odd) {
	margin-left: 7px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.info-list li>a {
	position: absolute;
	bottom: 5px;
	left: 0;
	color: #000;
	width: 100%;
	font-size: 18px;
}

.info-list li>a>img {
	width: 50px;
	height: 50px;
	justify-content: center;
	text-align: center;
	margin: 25px 25px 10px 25px;
}

.admin {
	width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px solid #ddd;
    border-radius: 25px;
    text-align: center;
    transition: .1s;
}

.admin a {
	display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.admin:hover {
	background: #1C3879;
}

.admin:hover a {
	color: white;
}