@charset "UTF-8";

.title-wrap {
	margin-top: 100px;
	justify-content: center;
	text-align: center;
}

.wrap {
	width: 60%;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
	padding: 100px;
	box-sizing: border-box;
	text-align: center;
}

.rezInfo table {
	margin: 0 auto;
	width: 100%;
	border: 1px solid #EDE6DB;
	border-collapse: collapse;
}
.rezInfo table {
	margin-bottom: 40px;
}
