@charset "UTF-8";

.title:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 14px;
	bottom: 7px;
	left: 0;
	z-index: -1;
	background: #607EAA;
}

.title-wrap {
	margin-top: 100px;
	justify-content: center;
	text-align: center;
}

.rezInfo {
	width: 100%;
	margin-top: 40px;
	margin-left: auto;
	left: auto;
	right: auto;
}

table, th, td {
	border: 1px solid #607EAA;
}

table {
	margin: 0 auto;
	width: 70%;
	border: 1px solid #607EAA;
	border-collapse: collapse;
}

thead {
	color: #607EAA;
}

thead>tr>th {
	font-size: 20px;
}

table.highlight tr {
	border-bottom: none;
}

td, th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	justify-content: center;
}

.rezInfo:after {
	content: "";
	display: table;
	clear: both;
}