@charset "UTF-8";

button {
	border: 0;
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
	outline: none;
}

.swiper {
	width: 100%;
	margin-top: 80px;
}

.swiper-slide img {
	width: 100%;
	object-fit: cover;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
	.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
	.swiper-pagination {
	color: white;
}

.container {
	width: 100%;
}

.container.counts {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 40px 0;
}

.counters {
	width: 200px;
	padding: 15px 0 10px;
	margin: 20px;
	FONT-VARIANT: JIS04;
	border: solid 4px #1C3879;
	border-radius: 25px;
}

.container.counts h4 {
	color: #bbb;
	font-size: 16px;
	text-transform: uppercase;
}

.container.counts span.count {
	font-size: 42px;
	line-height: 48px;
}

.container.content {
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 40px 0;
}

.contents {
	width: 400px;
	margin: 10px;
}

.headline {
	display: block;
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #e4e9f0;
}

.table-wrap {
	width: 100%;
	height: calc(100% - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	font-family: 'Noto Sans KR', sans-serif;
}

.inner-table {
	width: 95%;
	height: 80%;
	border: 1px solid rgb(28, 56, 121);
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
		table-layout: fixed;
}

.inner-table tbody tr td p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.inner-table thead tr {
	color: white;
	height: 33px;
}

.inner-table thead {
	background-color: rgb(28, 56, 121, .6);
}

.inner-table th, .inner-table td {
	border: 1px solid #d9d9d9;
}

.user.inner-table th:nth-child(1) {
	width: 40%;
}

.user.inner-table th:nth-child(2), .user.inner-table th:nth-child(3) {
	width: 45%;
}

.qna.inner-table th:nth-child(1) {
	width: 25%;
}

.qna.inner-table th:nth-child(2) {
	width: 55%;
}

.answer.inner-table th:nth-child(1) {
	width: 20%;
}

.answer.inner-table th:nth-child(2) {
	width: 50%;
}

/* .inner-table th:nth-child(1), .inner-table tbody tr td:nth-child(1) {
	width: 25%;
}

.inner-table th:nth-child(2), .inner-table tbody tr td:nth-child(2) {
    width: 50%;
}

.inner-table th:nth-child(3), .inner-table tbody tr td:nth-child(3) {
	width: 65%;
} */