@charset "UTF-8";
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
	position: fixed;
	height: 80px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	background: #1C3879;
	top: 0;
	z-index: 100;
	font-family: 'CookieRun-Regular';
}

.header-wrap {
	height: 100%;
	width: 60%;
	margin: 0 auto;
	position: relative;
}

#logo {
	position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 60px;
    width: 80px;
    left: 0;
    padding: 10px 0;
    margin-left: 50px;
    letter-spacing: 7px;
}

#logo>a {
	color: white;
	font-family: 'CookieRun-Regular';
}

#logo .logo {
	margin-left: 80px;
}

.login {
	float: right;
	margin-right: 50px;
	position: relative;
	height: 100%;
	line-height: 80px;
}

.login ul.loginbar {
	margin: 0;
}

.login ul.loginbar li {
	float: left;
	margin-left: 30px;
}

.login ul.loginbar>li>a {
	color: white;
	text-transform: uppercase;
}

.loginbar li {
	position: relative;
}
.loginbar li:before {
	position: absolute;
	content: '';
	background: #c6c6c6;
	width: 2px;
	height: 16px;
	top: 30.5px;
	right: -16px;
}
.loginbar li:last-child:before {
	display: none;
}

nav {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.gnb {
	line-height: 80px;
}

.gnb li {
	float: left;
	color: white;
	margin-right: 50px;
}

.gnb li>a {
	color: white;
}color picker

.gnb li:first-child {
	margin-left: 0;
}

/*
.nav-box {
	width: 800px;
	margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
	display: inline-block;
    font-size: 20px;
}

.gnb {
	overflow: hidden;
	line-height: 80px;
}

.gnb li {
	float: left;
}

.gnb li + li {
	margin-left: 50px;
}

.gnb li a {
	color: white;
}
*/