@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html, body {
	font-family: 'Noto Sans KR', sans-serif;
}

/* 두번째 헤더 */
.second-header {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d9d9d9;
	padding-left: 50px;
	background: #f1f1f1;
	color: #666;
	font-size: 15px;
	z-index: 500;
}

.second-header span {
	color: #888;
	font-size: 14px;
}

.wrap {
	width: 100%;
	padding-top: 120px;
	box-sizing: border-box;
	overflow: hidden;
}

.wrap.mh {
	display: block;
    justify-content: normal;
    align-items: normal;
    flex-direction: row;
}

/* 왼쪽 메뉴 */
.side-menu {
	position: fixed;
	display: inline-block;
	width: 280px;
	height: 100vh;
	border-right: 1px solid #d9d9d9;
	z-index: 500;
}

.side-menu .only-admin {
	height: 100px;
    background: white;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
}

.side-menu .only-admin a {
	color: #1C3879;
    font-size: 26px;
}

.side-menu .menu-box {
	padding-top: 50px;
	padding-left: 50px;
}

.side-menu .menu-box .menu-item {
	position: relative;
	font-size: 22px;
    font-weight: 700;
    color: #888;
	cursor: pointer;
}

.side-menu .menu-box .menu-item + .menu-item {
	margin-top: 20px;
}

.side-menu .menu-box .menu-item.on {
	position: relative;
	padding-left: 10px;
}

.side-menu .menu-box .menu-item.on a {
	color: #444;
}

.side-menu .menu-box .menu-item.on:before {
	content: "";
	position: absolute;
	top: 15px;
	left: -30px;
	display: inline-block;
	width: 30px;
	height: 5px;
	background: #1C3879;
}

.side-menu .menu-box .menu-item a {
	color: #888;
	transition: .3s;
}

.side-menu .menu-box .menu-item a:hover {
	padding-left: 10px;
	color: #444;
}

.side-menu .menu-box .menu-item.on a:hover {
	padding-left: 0;
}

.main-box {
	overflow: hidden;
	display: inline-block;
	width: calc(100vw - 290px);
	margin-left: 281px;
}

.main-box h3 {
	margin-top: 100px;
	margin-left: 160px;
	color: #444;
	font-size: 32px;
}

.cate-search {
	width: 800px;
    text-align: right;
    float: right;
    margin-right: 180px;
    margin-top: -10px;
}

.cate-search select {
	width: 180px;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

.cate-search button {
	width: 80px;
    height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
    background: #999;
    color: white;
}

.main-box .user-table, .main-box .question-table {
	display: flex;
    justify-content: center;
    align-items: center;
	border-top: 0px solid white;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #444;
}

.main-box .user-table tbody, .main-box .question-table tbody {
	width: 1320px;
	text-align: center;
}

.main-box .user-table th, .main-box .user-table td, .main-box .question-table th, .main-box .question-table td {
	height: 40px;
}

.main-box .user-table th, .main-box .question-table th {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	width: 10%;
	background: #f1f1f1;
}

.main-box .user-table th:nth-child(1), .main-box .user-table td:nth-child(1) {
	width: 95px;
}
.main-box .user-table th:nth-child(2), .main-box .user-table td:nth-child(2) {
	width: 195px;
}
.main-box .user-table th:nth-child(3), .main-box .user-table td:nth-child(3) {
	width: 246px;
}
.main-box .user-table th:nth-child(4), .main-box .user-table td:nth-child(4) {
	width: 146px;
}
.main-box .user-table th:nth-child(5), .main-box .user-table td:nth-child(5) {
	width: 145px;
}
.main-box .user-table th:nth-child(6), .main-box .user-table td:nth-child(6) {
	width: 146px;
}
.main-box .user-table th:nth-child(7), .main-box .user-table td:nth-child(7) {
	width: 346px;
}

.main-box .question-table th:nth-child(1), .main-box .question-table td:nth-child(1) {
	width: 95px;
}

.main-box .question-table th:nth-child(2), .main-box .question-table td:nth-child(2) {
	width: 355px;
}

.main-box .question-table th:nth-child(3), .main-box .question-table td:nth-child(3) {
	width: 450px;
}

.main-box .question-table th:nth-child(4), .main-box .question-table td:nth-child(4) {
	width: 420px;
}

.main-box .user-table td, .question-table td {
	border-bottom: 1px solid #d9d9d9;
	
}

.add-question {
	margin-right: 180px;
    text-align: right;
    margin-top: -190px;
    margin-bottom: 50px;
    display: block;
    float: right;
}

.add-question button {
	width: 100px;
    height: 40px;
    background: none;
    outline: 0;
    border: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.main {
	overflow: hidden;
	width: calc(100vw - 290px);
    display: inline-block;
    margin-left: 280px;
}

.main h3 {
	margin-top: 100px;
	margin-left: 160px;
	color: #444;
	font-size: 20px;
}

.main .user-flex {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main .user-flex .user-chart {
	display: inline-block;
    width: calc(100vw - 600px);
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

#linechart-section, #barchart-section {
	overflow: hidden;
}

.main .user-flex .user-chart #linechart-section {
	margin-top: 25px;
	width: calc(100vw - 650px);
	height: 240px;
}

.main .question-flex {
	display: flex;
	justify-content: space-evenly;
    align-items: center;
}

.main .question-flex .question-chart {
	display: inline-block;
	width: 650px;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 120px;
	border: 1px solid #ddd;
    border-radius: 25px;
}

.main .question-flex .question-chart p {
	font-weight: 700;
    font-size: 18px;
    color: #1C3879;
    padding: 12px 0 0 20px;
}

.main .question-flex .question-chart #barchart-section {
	width: 600px;
	height: 270px;
	margin-top: 30px;
	margin-left: 20px;
}

.main .question-flex .today-qhistory {
	display: inline-block;
	width: 500px;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 120px;
	border: 1px solid #ddd;
    border-radius: 25px;
}

.main .question-flex .today-qhistory p {
	font-size: 40px;
    margin: 50px 0 40px 40px;
    font-weight: 700;
    color: #444;
}

.main .question-flex .today-qhistory p.count {
	font-size: 50px;
	display: inline-block;
    margin: 0 0 0 250px;
}

.main .question-flex .today-qhistory p.count span {
	font-size: 130px;
    color: #1C3879;
}
