@charset "UTF-8";

.wrap {
	width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width: 80%;
  height: 100%;
}
.exam-wrap{
  width: 56%;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.exam-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.comment {

}
.question {
  padding: 10px 0;
}
.side-wrap{
  width: 20%;
  height: 100%;
  border-left: 1px solid #000;
}
.side-title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dedede;
  font-family: 'IM_Hyemin-Regular';
  font-size: 20px;
  font-weight: bold;
}
.question-answer-form {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  align-items: center;
}
.question-number {
  font-size: 16px;
  font-family: 'IM_Hyemin-Regular';
  font-weight: bold;
}
.answerLa {
  width: calc(100%/5);
  text-align: center;
  font-size: 16px;
  font-family: 'IM_Hyemin-Regular';
  padding: 5px 0;
}
.qline {
  width: 90%;
  height: 2px;
  border-bottom: 1px solid red;
  margin: 0 auto;
	margin-bottom: 20px;
}

.answerForm {
	width: 100%;
	height: 100%;
	background-color: beige;
}
