@charset "UTF-8";
.category-wrap.testcate {
    height: 300px;
    flex-wrap: wrap;
}
.subjectPattern-wrap {
    width: 100%;
}

#mPattern {
    width: 180px;
}
.selec {
    text-align: center;
}
.submit-btn.search.s {
    display: inline-block;
}
.container.counts.solve.sub-pag {
    flex-wrap: wrap;
    padding-top: 200px;
}
.questionPatternSelec-wrap {
    width: 100%;
}
.selec-subp {
    font-family: 'IM_Hyemin-Regular';
}
.selec-subp-wrap {

}
.clevel {
    margin-right: 15px;
}