@charset "UTF-8";
@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--font-family : 'Noto Sans KR', sans-serif;
}

#container{
	width: 100%;
	margin: 0 auto;
	min-height: calc(100vh - 60px);
}
.viewer_q_wrap{
	display:flex;
	padding-left: 40px;
	padding-right: 40px;
}
#viewer_mText {
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	border-color: #ddd;
	margin-bottom: 20px;
	float:left;
	padding: 20px 0;
}
#viewer_mText p{
	text-align: center;
}
#viewer_qText {
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	border-color: #ddd;
	margin-bottom: 20px;
	float:left;
	padding: 20px 0;
}
#viewer_qText p{
	text-align: center;
}
#viewer_qComment {
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	border-color: #ddd;
	margin-bottom: 20px;
	float:left;
	padding: 20px 0;
	font-family : var(--font-family);
}
#viewer_qComment p{
	text-align: center;
}
span{
	color: blue;
}
.back{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 5px;
	padding-top: 120px;
	display: flex;
  	justify-content: space-between;
}
/*
.list{
	font-family : var(--font-family);
}
.question{
	font-family : var(--font-family);
}
*/