@charset "UTF-8";
@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
#container{
	width: 100%;
	margin: 0 auto;
	min-height: calc(100vh - 60px);
}
.viewer_q_wrap{
	padding-top: 100px;
}
.back{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 5px;
}
.qna-title{	
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	color: white;
    background-color: #1C3879;
    border-color: #ddd;
    padding: 5px 15px;
}
.answer-title{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 30px;
}
#editor{
	/* border : 1px solid; */
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
}
#contents {
	width: 50%;
	height: 100px;
	margin: 30px auto;
	border: 1px solid;
}
#viewer_q {
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	border-color: #ddd;
	padding: 20px 0;
}
#viewer_a {
	border : 1px solid;
	width: 70%;
	height: 50%;
	margin: 0 auto;
	border-color: #ddd;
	padding: 10px 0;
}
.view_a_wrap:last-child {
	margin-bottom: 50px;
}
.btn{
	width: 70%;
	margin: 0 auto;
	text-align: right;
}
.toastui-editor-contents img {
    box-sizing: border-box;
    margin: 4px 0 10px;
    max-width: 100%;
    vertical-align: top;
}
.view_q_user, .view_a_user{
	position: relative;
	border : 1px solid;
	width: 70%;
	margin: 0 auto;
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 5px 15px;
}
.button{
	display: inline-block;
	position: absolute;
	right: 15px;
    top: 5px;
}
.btn-wrap{
	width: 110%;
	margin: 0 auto;
	text-align: right;
}
.update-btn{
  	color: #1C3879;
  	float: left;
}
.delete-btn{
  	color: gray;
  	display: inline-block;
}
.submit-btn {
  	width: 6%;
  	margin: 10px 0;
  	outline: none;
  	border: none;
  	background: #607EAA;
  	height: 30px;
  	line-height: 30px;
  	border-radius: 10px;
 	color: white;
  	font-size: 15px;
  	font-family: 'IM_Hyemin-Regular';
  	cursor: pointer;
}
.qna-btn{
  	width: 6%;
  	margin: 10px 0;
 	outline: none;
  	border: none;
  	background: #607EAA;
  	height: 30px;
  	line-height: 30px;
  	border-radius: 10px;
  	color: white;
  	font-size: 15px;
  	font-family: 'IM_Hyemin-Regular';
  	cursor: pointer;
}
.qna-update-btn{
  	width: 6%;
  	margin: 10px 0;
  	outline: none;
  	border: none;
  	background: #607EAA;
  	height: 30px;
  	line-height: 30px;
  	border-radius: 10px;
  	color: white;
  	font-size: 15px;
  	font-family: 'IM_Hyemin-Regular';
  	cursor: pointer;
}
.toastui-editor-contents {
    font-family: 'IM_Hyemin-Regular';
    font-size: 15px;
    margin: 0;
}
.toastui-editor-contents p {	
    color: #222;
    margin: 0;
    text-align: center;
}
#viewer_q p{
	text-align: center;
}
#viewer_a p{
	text-align: left;
	padding: 0px 10px;
}
#viewer_a p > img{
	margin-left: 500px;
}