@charset "UTF-8";
@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
	--sig-color : rgb(28, 56, 121, .6);
	--border-color : rgb(28, 56, 121);
}

.table-wrap {
  width: 100%;
	height: calc( 100% - 100px );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.inner-table {
  width: 80%;
  height: 80%;
	border: 1px solid var(--border-color );
	border-collapse: collapse;
	margin: 0 auto;
	text-align: center;
}

.inner-table thead {
	background-color: var(--sig-color);
}

.inner-table th, .inner-table td {
	border: 1px solid var(--border-color );
}

.inner-table th:nth-child(1), .inner-table tbody tr td:nth-child(1) {
	width: 5%;
}

.inner-table th:nth-child(2), .inner-table tbody tr td:nth-child(2) {
	width: 10%;
}

.inner-table th:nth-child(3), .inner-table tbody tr td:nth-child(3) {
	width: 65%;
}

.inner-table th:nth-child(4), .inner-table tbody tr td:nth-child(4) {
	width: 5%;
}
.inner-table th:nth-child(5), .inner-table tbody tr td:nth-child(5) {
	width: 10%;
}
.inner-table th:nth-child(6), .inner-table tbody tr td:nth-child(6) {
	width: 5%;
}

.write-btn {
  width: 80%;
  height: auto;
}
.in-btn{
  float: right;
  width: 80px;
  height: auto;
  font-weight: bold;
  text-align : center;

}
